.imgCard{
    width: 100%;
    height: 100px;
    object-fit: center;
}

.small-card{
    width: 150px !important;
}

.ui.cards > .small-card > .content {
    padding: .5em .5em;
    font-size: .7em;
}

