.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 25px;
    height: 80px;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.navbar--left{
    display: flex;
    position: absolute;
    top: 25px;
    left: 40px;
}

.navbar--right{
    display: flex;
    position: absolute;
    top: 25px;
    right: 40px;
}
  
  

  